@import '../variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 2.2rem;
  // background-color: white;
  margin: 2rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid $border;
}