@import '../variables.scss';

.sidebar {
  
  min-height: 100vh;
  height: 100%;
  background-color: $primary;
  width: 280px;
  border-right: 1px solid #adaaaa;
  position: fixed;
  z-index: 200;


  .content {
    padding-left: 2rem;
    margin-top: 2rem;
  }

  .sidebar-list {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 1rem;
    }
  }

  .head-link {
    font-weight: bold;
    // border-top: 1px solid #d2d0d0;
    border-bottom: 1px solid #636161;
    margin: 2rem 0;
    font-size: 2rem;
  }

  .sub-link {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }

  .logo {
    font-size: 4rem;
    margin: 5rem 0;
    color: $secondary;
    font-weight: bold;
  }
  svg {
    color: $secondary;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px){
  .wrapper-overlay {
    background-color: #63616176;
    position: fixed;
    z-index: 60;
    width: 100%;
    top: 0;
    height: 100%;
    display: none;
  }

  .showSidebar {
    display: block;
  
  }  

}


