@import '../variables.scss';


.nav {
  display: flex;
  // justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    margin-right: auto;
  }

  .username {
    font-size: 1.8rem;
    color: $primary;
    margin-right: 1rem;
  }
}

.hero {
  display: flex;
  justify-self: space-between;
  align-items: center;
  min-height: 70vh;

  &__title {
    font-size: 6rem;
    font-weight: bold;
    color: $primary;
  }

  &__subtitle {
    font-size: 1.8rem;
    // font-weight: bold;
    color: $secondary;
    line-height: 1.5;
  }

  &__image {
    flex: 0 0 50%;

    img {
      width: 100%;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-top: auto;
  font-size: 1.2rem;

    bottom: 2rem;
    position: absolute;

    a {
      color: $secondary
    }
}

@media screen and (max-width: 800px){
  .hero {
    flex-direction: column-reverse;

    &__subtitle {
      font-size: 1.6rem;
    }

    &__title {
      font-size: 4rem;
      font-weight: bold;
      color: $primary;
    }
  }

 
}

@media screen and (max-width: 400px){
  .hero {
    flex-direction: column-reverse;
    
    &__title {
      font-size: 4rem;
      font-weight: bold;
      color: $primary;
    }
    
  }

  .nav {
    padding-left: 2rem;
    padding-right: 2rem;

    .username {
      display: none;
    }
  }

  .footer {
    margin-top: 6rem;
    position: static;
  }
}