@import '../variables.scss';

.note-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem 0 ;
  grid-gap: 4rem;

}

.align-right {
  text-align: right;
}

.task-status {
  font-size: 3rem;
}

.add-btn {
  background-color: $secondary;
  font-size: 1.6rem;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: auto;
  border: none;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}


.fa-today {
  color: $primary;
  font-size: 1.2rem;
}

.select-color {
  display: flex;
}

// Single Note styling that I would've easily put in another scss file
.single-note {
  padding: 3rem;
  font-size: 1.7rem;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
  .note_title {
    font-weight: bolder;
    border-bottom: 1px solid rgb(44 62 80);
    margin-bottom: 1rem;
    color: black;
    font-size: 1.8rem;
  }

  .note_description {
    font-size: 1.8rem;
  }

  .note_time {
    font-size: 1.2rem;
    color: grey;
  }
  
  .note_extra {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.note_star {
  color: $primary;
}

.fa-delete-note {
  font-size: 1.8rem;
  color: grey;
  position: absolute;
  top: 3rem;
  right: 3rem;
}


@media screen and (max-width: 1000px){
  
  .note-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 0 ;
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 600px){
  
  .note-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 4rem 0 ;
    grid-gap: 2rem;
  }
}