$orange: #FA4B3A;
$pink: #E52E67;
$white: #d0c5c5;
$background: linear-gradient(90deg, rgba(251,76,59,1) 35%, rgba(226,43,109,1) 100%);  
$card-bg: rgba(29,29,32,1);
$section-bg: rgb(24, 26, 37);

$primary: #2C3E50;
$secondary: #C0392B;